In [163]:
%autosave 0

# Dependencies and Setup

import pandas as pd
import numpy as np

#pd.set_option('display.max_rows',1000)

# File of purchase data
purch_file = "Resources/purchase_data.csv"

# Read purchasing file and store into Pandas data frame
purch_data = pd.read_csv(purch_file, encoding='utf-8')

Autosave disabled

In [164]:
# Player Count - total number of players

# Create player count dataframe
total_players = len(purch_data["SN"].unique())
player_cnt_df = pd.DataFrame({"Total Players" : [total_players]})

# Output player count dataframe
player_cnt_df

   Total Players
0            576

In [165]:
# Purchasing Analysis (Total) - number of unique items, average purchase price,
# total number of purchases, total revenue

# Calculate columns for dataframe
unique_items = len(purch_data["Item ID"].unique())
avg_price = purch_data["Price"].mean()
total_purchases = purch_data["Purchase ID"].count()
total_revenue = purch_data["Price"].sum()

# Create purchasing analysis dataframe
purch_analysis_df = pd.DataFrame({"Number of Unique Items" : [unique_items],
                                  "Average Price" : [avg_price],
                                  "Number of Purchases" : [total_purchases],
                                  "Total Revenue" : [total_revenue]
                                 })
purch_analysis_df["Average Price"] = purch_analysis_df["Average Price"].map("${:,.2f}".format)
purch_analysis_df["Total Revenue"] = purch_analysis_df["Total Revenue"].map("${:,.2f}".format)

# Output purchase analysis dataframe
purch_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [166]:
# Gender Demographics - percentage and count of male players,
# female players, and other / non-disclosed players

# Define a data frame grouped by gender
gender_grp_df = purch_data.groupby("Gender").nunique()

# Create the total count column
gender_demos_df = gender_grp_df.loc[:,["SN"]]
gender_demos_df = gender_demos_df.rename(columns={"SN" : "Total Count"})

# Create the percentage of players column
pct_players = gender_demos_df["Total Count"] / total_players * 100
gender_demos_df["Percentage of Players"] = pct_players.map("{:.2f}%".format)

# Output gender demographics dataframe
gender_demos_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [213]:
gender_group_df = purch_data.groupby(["Gender" , "SN"])

gender_group_df = pd.DataFrame(gender_group_df["Gender"].unique().value_counts())
gender_group_df.head()

#gender_group_df
#gender_group = gender_group_df["Gender"].value_counts()
#gender_group

                         Gender
[Male]                      484
[Female]                     81
[Other / Non-Disclosed]      11

In [214]:
new_df = gender_group_df.set_index("Gender")
new_df = pd.DataFrame({"Total Count" : gender_group})
gender_dmos_df

                         Total Count
[Male]                           484
[Female]                          81
[Other / Non-Disclosed]           11

In [209]:
# Purchasing Analysis (Gender) - display the purchase count, average purchase price
# total purchase value, and average total purchase per person; all by gender

In [168]:
# GENDER GROUP DATAFRAME
gender_grp_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Gender,,,,,,,
Female,113,81,22,1,90,90,79
Male,652,484,39,1,182,178,144
Other / Non-Disclosed,15,11,8,1,13,13,12