In [1]:
%autosave 0

# Dependencies and Setup
import pandas as pd
import numpy as np

# File of purchase data
purch_file = "Resources/purchase_data.csv"

# Read purchasing file and store into Pandas data frame
purch_data = pd.read_csv(purch_file, encoding='utf-8')

Autosave disabled

In [2]:
# Player Count - total number of players

# Create player count dataframe
total_players = len(purch_data["SN"].unique())
player_cnt_df = pd.DataFrame({"Total Players" : [total_players]})

# Output player count dataframe
player_cnt_df

   Total Players
0            576

In [40]:
# Purchasing Analysis (Total) - number of unique items, average purchase price,
# total number of purchases, total revenue

# Calculate columns for dataframe
unique_items = len(purch_data["Item ID"].unique())
avg_price = purch_data["Price"].mean()
total_purchases = purch_data["Purchase ID"].count()
total_revenue = purch_data["Price"].sum()

# Create purchasing analysis dataframe
purch_analysis_df = pd.DataFrame({"Number of Unique Items" : [unique_items],
                                  "Average Price" : [avg_price],
                                  "Number of Purchases" : [total_purchases],
                                  "Total Revenue" : [total_revenue]
                                 })
purch_analysis_df["Average Price"] = purch_analysis_df["Average Price"].map("${:,.2f}".format)
purch_analysis_df["Total Revenue"] = purch_analysis_df["Total Revenue"].map("${:,.2f}".format)

# Output purchase analysis dataframe
purch_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [4]:
# Gender Demographics - percentage and count of male players,
# female players, and other / non-disclosed players

# Define a data frame grouped by gender with unique values
gender_unq_df = purch_data.groupby("Gender").nunique()

# Create the total count column
gender_demos_df = gender_unq_df.loc[:,["SN"]]
gender_demos_df = gender_demos_df.rename(columns={"SN" : "Total Count"})

# Create the percentage of players column
pct_players = gender_demos_df["Total Count"] / total_players * 100
gender_demos_df["Percentage of Players"] = pct_players.map("{:.2f}%".format)

# Output gender demographics dataframe
gender_demos_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [15]:
# Purchasing Analysis (Gender) - display the purchase count, average purchase price
# total purchase value, and average total purchase per person; all by gender

gender_counts = purch_data["Gender"].value_counts()
gender_counts.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [24]:
grouped_gender_df = purch_data.groupby(["Gender"])
grouped_gender_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [46]:
pag_purchase_ct = grouped_gender_df["Item ID"].count()
pag_avg_price = grouped_gender_df["Price"].mean()
pag_tot_value = grouped_gender_df["Price"].sum()
pag_ply_ct = grouped_gender_df["SN"].unique()
pag_ply_ct

Gender
Female                   [Lisassa64, Reunasu60, Reulae52, Assosia88, Ph...
Male                     [Lisim78, Lisovynya38, Ithergue48, Chamassasya...
Other / Non-Disclosed    [Chanosian48, Siarithria38, Haerithp41, Sundim...
Name: SN, dtype: object

In [42]:
pa_gender_df = pd.DataFrame({"Purchase Count" : pag_purchase_ct,
                             "Average Purchase Price" : pag_avg_price.map("${:,.2f}".format),
                             "Total Purchase Value" : pag_tot_value.map("${:,.2f}".format)
                            })
pa_gender_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19